<ion-header>
  <ion-toolbar>
    <ion-title>
      HOLA. PRIMERA PANTALLA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  <div style="margin-top: -20%;">
    <ion-button routerLink="/productos"  routerDirection="forward" expand="full" color="light" style="margin-top: 25%;">MIS PRODUCTOS</ion-button>
  </div>
  <div style="margin-top: -20%;">
    <ion-button routerLink="/favoritos"  routerDirection="forward" expand="full" color="light" style="margin-top: 25%;">VER FAVORITOS</ion-button>
  </div>
</ion-content>
